ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: var(--background); */
    display: flex;
    justify-content: flex-end;
    margin-right: 3vw;
    position: sticky;
    z-index: 100;
}

li {
    float: left;
    margin-top: 7px;
}

li a {
    display: block;
    color: white;
    /* font-family: txt; */
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

li a:hover {
    background-color: var(--background);
    transition: 0.2s ease-in-out;
}

